@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
:root {
  --primary-color-high: #6366f1;
  --light-background-color: #111827;
  --strong-background-color: #09090b;

  /* ---secondary--- */
  --secondary-lower: #1c1c1e;
  --secondary-medium: #a4a4a5;
  --secondary-medium1: #373737;
  --secondary-medium2: #282828;
}

.App {
  font-family: "Ubuntu", sans-serif;
  min-height: 100vh;
}

.dropdownVideo {
  width: 600px;
  height: 170px;
  background-color: #f9f9f9;
  border: 2px dashed #d7d8d9;
  border-radius: 8px;
}

.miniTitle {
  color: #6d7885;
  font-feature-settings: "liga" off, "clig" off;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
  letter-spacing: 0.2px;
}

.bigTitle {
  color: #000;
  font-feature-settings: "liga" off, "clig" off;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 125% */
  letter-spacing: 0.1px;
}

.loader {
  align-self: center;
  width: 48px;
  height: 48px;
  border: 5px solid var(--main-color);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* ------sidebar---- */

.sidebar {
  position: fixed;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 64px;
  gap: 32px;
  background-color: var(--light-background-color);
}

.sidebar-block-items {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.sidebar-item {
  text-align: center;
  width: 64px;
  height: 64px;
  justify-content: center;
  align-content: center;
}

.sidebar-item:hover {
  cursor: pointer;
}

.sidebar-items {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 100px);
  justify-content: space-between;
}

[data-status-sidebar-item="active"] {
  color: #fff;
  background-color: var(--primary-color-high);
}

[data-status-sidebar-item="passive"] {
  color: var(--primary-color-high);
  background-color: var(--light-background-color);
}

/* ----------Login---- */

#error-login-text-login,
#error-login-text-register {
  display: none;
  width: 100%;
  text-align: right;
  color: red;
}

#loginPage {
  background-color: var(--light-background-color);
}

.LoginPage {
  display: flex;
  flex-direction: row;
  gap: 70px;
  align-items: center;
  justify-content: center;
  /* width: 100vw; */
  min-height: 100vh;
  min-width: 100vw;
}

.contentReg {
  display: flex;
  align-self: center;
  justify-content: center;
  background-color: #fff;
  max-width: 90%;
  width: 450px;
  border-radius: 16px;
}

.blockRegLog {
  margin: 48px;
}

.headerRegLog {
  margin-left: 40px;
  margin-right: 40px;
}

.tabRegLog {
  display: flex;
  flex-direction: row;
  padding: 0;
}

.tabRegLog:hover {
  cursor: pointer;
}

.HeaderRegLogText {
  width: 100%;
  margin-top: 16px;
  margin-bottom: 16px;
}

.HeaderRegLogText {
  color: #171a1c;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 140% */
}

.tabRegLog {
  width: auto;
  border: 1px solid #6366f1;
  border-radius: 4px;
}

.passive-tabLogReg {
  color: #464d53;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 114.286% */
  padding: 8px 40px;
  margin: 0px;
}

.active-tabLogReg {
  background-color: #6366f1;
  color: #fff;
  text-align: center;
  font-variant-numeric: lining-nums tabular-nums;
  font-feature-settings: "cv03" on, "cv04" on;

  /* New/1920px/Text XS (Body Short) */
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 114.286% */
  padding: 8px 40px;
  margin: 0px;
}

#Authorise {
  width: 100%;
  /* margin-left: 0; */
}
#Registration {
  width: 100%;
  /* margin-right: 0; */
}

#regForm {
  display: none;
}

.authForm,
.regForm {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  gap: 20px;
  max-width: 90%;
}

.input-container {
  position: relative;
  width: 100%;
}

.inputForm {
  min-height: 30px;
  padding: 10px 16px;
  width: 100%;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.3s ease;
}

.input-container input:focus {
  border-color: #6366f1;
}

.input-container label {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  font-size: 14px;
  color: #999;
  padding: 0 5px;
  pointer-events: none;
  transition: 0.5s;
}

.input-container input:focus ~ label,
.input-container input:valid ~ label {
  top: 0;
  font-size: 12px;
  background: #fff;
}

.sendFormButton {
  border: 0;
  width: 110%;
  padding: 17px 0;
  border-radius: 6px;
  color: #fff;
  font-variant-numeric: lining-nums tabular-nums;
  font-feature-settings: "cv03" on, "cv04" on;

  /* New/Button 14 */
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; /* 157.143% */
}

.sendFormButton:enabled {
  background: #6366f1;
  color: #fff;
  cursor: pointer;
}

.sendFormButton:disabled {
  cursor: default;
  background: #f6f7f8;
  color: #75808a;
}

.sendFormButton:hover:enabled {
  background: #35379f;
}

/* ------Badges------ */
.badge {
  display: flex;
  flex-direction: row;
  padding: 4px 8px;
  border-radius: 4px;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  justify-content: center;
  align-items: center;
  text-align: center;
  white-space: nowrap;
}

.badge p {
  margin: 0;
}

[data-color-badge="yellow"] {
  color: rgba(255, 175, 60, 1);
  background: rgba(255, 175, 60, 0.12);
}

[data-color-badge="default"] {
  color: rgba(141, 202, 254, 1);
  background-color: rgba(141, 202, 254, 0.12);
}

/* Красный */
[data-color-badge="purple"] {
  color: rgba(255, 59, 48, 1);
  background: rgba(255, 59, 48, 0.12);
}

/* Зелёный */
[data-color-badge="green"] {
  color: rgba(50, 179, 104, 1);
  background: rgba(50, 179, 104, 0.12);
}

[data-color-badge="gray"] {
  color: #fff;
  background: var(--secondary-medium1);
}

/* ---page--- */
.page {
  display: flex;
  min-height: 100vh;
  background-color: var(--strong-background-color);
  flex-direction: row;
}
.mainContent {
  margin-left: 64px;
  padding: 32px;
  width: 100%;
}

.Content {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 32px;
}

/*---search--- */
.search {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 12px;
  border-radius: 8px;
  gap: 8px;
  background-color: var(--secondary-lower);
  max-width: 40vw;
}
.search input {
  display: flex;
  width: 100%;
  outline: none;
  border: 0;
  background-color: var(--secondary-lower);
  color: var(--secondary-medium);
  font-family: Roboto;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.search input:active {
  outline: none;
  caret-color: var(--secondary-lower);
}

.panelFilters {
  display: flex;
  flex: 1;
  flex-direction: row;
  gap: 16px;
  width: 100%;
}

.primaryButton {
  display: flex;
  height: 100%;
  white-space: nowrap;
  padding: 10px 12px;
  color: #fff;
  outline: none;
  border: 0;
  border-radius: 8px;
  background-color: var(--primary-color-high);
  justify-content: center;
  align-items: center;
}
.primaryButton:hover {
  cursor: pointer;
}
/* ----Card-----------*/

.Card {
  display: flex;
  padding: 16px;
  border-radius: 8px;
  background-color: var(--secondary-lower);
}

/* -----CardMyProject--- */

.card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: var(--secondary-lower);
  padding: 16px 20px;
  border-radius: 16px;
  width: calc((100vw - 350px) / 4);
}

.CardContent {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.CardContent p {
  margin: 0;
}

.card-main {
  white-space: nowrap;
  color: rgba(255, 255, 255, 0.9);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}

.card-date {
  color: var(--secondary-medium);
  font-family: Roboto;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}

.card-badges,
.card-speakers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4px;
}

.card-description {
  color: #fff;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.card-status {
  justify-items: left;
  width: 100%;
}

[data-hover-access="true"]:hover {
  cursor: pointer;
}

.myProjectsContent {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 16px;
}

/* ---------Team-page------- */
.divSidesOfTeams {
  display: flex;
  flex-direction: row;
  flex: 1;
  gap: 32px;
}

.leftSideOfTeam {
  display: flex;
  padding: 16px;
  width: 30%;
  min-height: calc(100vh - 64px);
}

.rightSideOfTeam {
  display: flex;
  flex-direction: row;
  padding: 16px;
  gap: 8px;
  min-height: calc(100vh - 64px);
  width: 100%;
}

[data-right-padding="accept"] {
  padding-right: 0;
}

.mainPartOfboardPosts {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.mainPartOfboardPosts:hover {
  overflow-y: auto;
}

.contentInfoTeam {
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: fixed;
}
.card-team-title {
  color: #fff;
}

.top-post-panel {
  padding: 24px;
  border-radius: 16px;
  display: flex;
  flex-direction: row;
  background-color: var(--secondary-lower);
}

.posts {
  padding: 24px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-lower);
}

.emptyPosts {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
  justify-content: center;
}

.emptyPosts p {
  text-align: center;
  color: #fff;
  font-size: 15px;
}
.emptyPosts svg {
  width: 64px;
  height: 64px;
}

.emptyPosts div {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.rightSidebar {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  margin-right: 0px;
  width: 100%;
}

.thirdBlockOfBoardPosts {
  height: 100vh;
  top: 0px;
  background-color: var(--secondary-lower);
}

/* -----Meeting Page ---- */
.sidesOnMeetings {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: center;
}

/*-----Sites ----*/
.leftSideOnMeetings,
.rightSideOnMeetings {
  min-height: calc(100vh - 96px);
  background-color: var(--secondary-lower);
  width: 100%;
  padding: 32px;
}

.leftSideOnMeetings {
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.rightSideOnMeetings {
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}

/* --------Audioplayer--- */

.controls {
  display: flex;
  flex-direction: column;
}

.controls .displayInfo {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #fff;
  gap: 16px;
}

.seek-bar {
  width: 100%;
  -webkit-appearance: none;
  height: 2px;
  background-color: var(--secondary-medium1);
}

.seek-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--primary-color-high);
}

.btnOnClickPlayAudio {
  display: flex;
  align-self: center;
  background-color: var(--secondary-lower);
  outline: none;
  border: 0;
  padding: 0;
  margin: 0;
}
.btnOnClickPlayAudio:hover {
  cursor: pointer;
}

.h1-of-list {
  color: #fff;
  padding-top: 0;
  margin-top: 0;
  font-size: 20px;
  font-family: inherit;
}

.BagdesArea {
  display: flex;
  flex-direction: row;
  gap: 8px;
  flex-wrap: wrap;
  background: var(--secondary-medium2);
  padding: 16px;
  border-radius: 8px;
}

.description-card {
  color: #fff;
  font-size: 15px;
}
/* -----Panel---- */

.panel-tabs {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.panelSelect {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.panelSelect:hover {
  cursor: pointer;
}

.panelSelect p {
  color: #fff;
  font-weight: 500;
}

[data-panel-selected="true"] {
  background-color: var(--secondary-medium2);
}

[data-panel-selected="false"] {
  background-color: var(--secondary-lower);
}

.chat {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.contentSessionChat {
  flex: 1;
  max-height: calc(100vh - 200px);
  gap: 16px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.contentSessionChat::-webkit-scrollbar {
  display: none;
}

.message-type-user {
  display: flex;
  align-self: flex-end;
  background-color: var(--secondary-medium2);
  color: #fff;
}

.message-type-bot {
  display: flex;
  align-self: flex-start;
  color: #fff;
  font-weight: 500;
  background-color: var(--secondary-lower);
}

.message-type-bot,
.message-type-user {
  position: relative;
  padding: 8px;
  border-radius: 8px;
}

.inputMessageChat {
  display: flex;
  width: 100%;
  /* flex: 1; */
  flex-direction: row;
  gap: 4px;
  align-items: center;
  margin-top: 16px;
}

.inputMessageChat textarea {
  width: 100%;
  resize: none;
  word-wrap: break-word;
  background-color: var(--secondary-medium1);
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
}

.inputMessageChat textarea:focus {
  outline: none;
}

.contentTranscription {
  margin-top: 16px;
  max-height: calc(100vh - 200px);
  display: flex;
  flex-direction: column;
  color: #fff;
  gap: 4px;
  overflow-y: auto;
}

.contentTranscription::-webkit-scrollbar {
  display: none;
}

.stats {
  color: #fff;
}
